@page "/Components"

<MudText Typo="Typo.h3">Components</MudText>
<MudTabs Elevation="1">

    <MudTabPanel Text="Angular sample">
        <pre class="language-typescript">
            <code class="language-typescript">@@Component(
{
    selector: 'my-component',
    template: '@("<h1>This is my Angular component</h1><button (click)=\"buttonClick()\">Click me!</button")'
})
export class AngularComponent {
    @@Input()
    public string myParameter;

    public buttonClick() {
        console.log('Button clicked!');
    }
}


Usage:
@("<my-component myParameter=\"Hello World!\"></my-component>")</code>
        </pre>
    </MudTabPanel>
    <MudTabPanel Text="Blazor sample">
        <pre class="language-csharp">
            <code class="language-csharp">// Filename: MyComponent.razor

@("<h1>This is a Blazor test component</h1>")
@("<button @onclick=ButtonClick>Click me!</button>")

@@code {
    [Parameter]
    public string MyParameter { get; set; }

    private void ButtonClick() {
        Console.WriteLine(\"Button clicked!\");
    }
}

Usage:
@("<MyComponent MyParameter=\"Hello World!\"></MyComponent>")
</code>
        </pre>
    </MudTabPanel>
    <MudTabPanel Text="Use case">
        <MudList>
            <MudListItem Icon="@Icons.Material.Bookmark">Create a simple component</MudListItem>
            <MudListItem Icon="@Icons.Material.Bookmark">Add input parameter to pass some text</MudListItem>
            <MudListItem Icon="@Icons.Material.Bookmark">Add output parameter that fires if a button in the component is clicked</MudListItem>
        </MudList>
    </MudTabPanel>
    <MudTabPanel Text="Use case in action">
        <MudAlert Severity="Severity.Info">This example is written in Blazor!</MudAlert>

        <SampleComponent MyParameter="@Text" ButtonClicked="@ButtonClicked"></SampleComponent>

        <MudCard>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" sm="7" md="7">
                        <MudTextField T="string" @bind-value="Text" Label="Parameter input"></MudTextField>
                    </MudItem>
                    <MudItem xs="12" sm="7" md="7">
                        <MudText>Button inside of sample component clicked <MudText Inline="true" Color="Color.Success">@Counter</MudText> times.</MudText>
                    </MudItem>
                </MudGrid>

            </MudCardContent>
        </MudCard>
    </MudTabPanel>
</MudTabs>